<!DOCTYPE html>
<html>
<head>
    <title>Random Quote Generator</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
</head>
<body >

    <div class="content container ">
    {% block content %}
    {% endblock %}
    </div>
    {% block footercontent %}
    {% endblock %}
    <div class="background_image"><img src="{{ background_image }}" /></div>
    <script type="text/javascript" src="/static/js/jquery.1.10.2.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>
</html>