{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{%block pagetitle %}Cats - n - Quotes{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    <meta http-equiv="refresh" content="10" />
</head>
<body >

    <div class="content container ">
    {% block content %}
    {% endblock %}
    </div>
    {% block footercontent %}
    {% endblock %}
    <div class="background_image"><img src="{{ background_image }}" /></div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.1.10.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
</body>
</html>