{% extends "base.html" %}
{% block pagetitle %}
    {{ quote.authorname }}'s Fabulous Quotes - and a picture of cats
{% endblock %}
{% block content %}

    <div class="meme-unit">
        <h1>{{ quote.quote }}</h1>
        <img src="{{ quote.meme.image.url }}" class="meme"/>
        {% if quote.comeback %}
            <h2 class="comeback">{{ quote.comeback }}</h2>
        {% endif %}
        <div class="social">
            <i class="icon-twitter"></i>
            <i class="icon-facebook"></i>
            <i class="icon-google-plus"></i>
        </div>
    </div>

{% endblock %}

{% block footercontent %}

{% endblock %}
