{% extends "base.html" %}

{% block content %}

    <div class="hero-unit">
        <a href="#infoBlock" role="button" class="btn btn-warning topright" data-toggle="modal"><i class="icon-info-sign"></i></a>
        <p class="">
            <img src="{{ quote.avatar }}" alt="" />
        </p>
        <h1>{{ quote.quote }}</h1>
        {% if quote.comeback %}
            <p>{{ quote.comeback }}</p>
        {% endif %}
        <br/>
        <p>
           <a class="btn btn-success btn-large" href="/">
               Do it again
           </a>
        </p>
    </div>

{% endblock %}

{% block footercontent %}

    <div class="modal hide fade" id="infoBlock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Rest assured</h3>
        </div>
        <div class="modal-body">
            <p>There will be no sound in this app. As in, ever.</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn">Close</a>
        </div>
    </div>
{% endblock %}